body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
}

header {
  background-color: #111111;
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 10 10 10px #ffffff;
}

nav {
  background-color: #000000;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

section {
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  margin: 10px;
  border: 1px solid #ddd;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

ul li {
  list-style-type: none;
}

footer {
  background-color: #111111;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Styles for the takeaway form */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 400px;
}

form > div {
  margin-bottom: 1rem;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}